---
date: Last Modified
---
{% include "head_open.liquid" %}
<style>
{% include "./basic/style.css" %}
{% include "./common/forms.css" %}
{% include "./common/theme.css.liquid" %}
</style>
{% include "head_close.html" %}

{% if headerButtonIcon == null %}{% assign headerButtonIcon = 'menu' %}{% endif %}

<body layout="column stretch-center">

{% if coverImage %}
    <div self="size-large" style="position: relative;width: 100%;;display: block">
        <img class="image-cover" src="{{ coverPreview }}" alt="Cover image preview" style="position: absolute;display: block">
        <img class="image-cover" src="{{ coverImage }}" alt="Cover image" style="position: relative;display: block; z-index: 1">
        <a class="icon-button background" aria-label="Back" href="javascript:closeContent()" style="width: 48px;height:48px;position:absolute;top:6px;left:6px;z-index:1;opacity: 0.65;border-radius: 48px">
            <!-- put your logo here -->
            <svg height="48px" viewBox="0 0 24 24" width="48px">
                <path d="M0 0h24v24H0V0z" fill="none"/>
                <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/>
            </svg>
        </a>
    </div>
{% endif %}

<h1 class="title animate__animated animate__fadeIn">{{title}}</h1>
{% if pubDate or author %}
    <div self="size-large" layout="column top-stretch" style="padding-right: 12px;padding-left: 12px">
        {% if author -%}
            <strong>BY {{ author | upcase }}</strong>
        {%- endif -%}
        <small>{{ pubDate | date: 'D MMM yyyy' }}</small>
    </div>
{% endif %}

<main self="size-large center" class="main-content animate__animated animate__fadeIn" layout="column top-stretch">

    {{ content | safe }}

    {% include "./basic/page_navigation.liquid" %}

    {% include "./basic/page_related.liquid" %}

</main>

{% zx 'menu-overlay' 'actions-menu' %}
items:
- title: Print
  link: javascript:printContent()
  icon: print
- title: Share
  link: javascript:shareContent()
  icon: share
options:
- name: position
  value: center
{% endzx %}

{% include "footer.liquid" %}

{% include "body_end.liquid" %}

</body>

<!-- page script -->
<script>
    {% include "./basic/script.js.liquid" %}
</script>


<!-- zuix-editor data -->
{% if app.environment == 'default' or app.environment == 'development' -%}
<script>
    var zuixEditor = {
        data: {{ eleventyComputed._data | json }}
    }
</script>
{%- endif %}


{% include "html_close.html" %}
