---
date: Last Modified
---
{% include "head_open.liquid" %}
<style>
{% include "layouts/basic/style.css" %}
</style>
{% include "head_close.html" %}

{% if headerButtonIcon == null %}{% assign headerButtonIcon = 'menu' %}{% endif %}

<!-- scroll helper is used to show/hide the header when scrolling -->
<body layout="column top-center" data-theme="{{ theme }}"
      -ctrl -z-load="@lib/controllers/header-auto-hide"
      -data-o-header="header-bar">

<!--
<header #header-bar class="header-cover animate__animated animate__fadeInDown animate__faster" style="display:none">
    <div self="size-large center" layout="row center-left">
        <div><h1 z-field="page_title" class="title animate__animated animate__fadeIn">{{title}}</h1></div>
        {% if headerButtonUrl != null %}
        <div self="center-right"><a href="{{headerButtonUrl}}"><i class="material-icons animate__animated animate__fadeIn">{{ headerButtonIcon }}</i></a></div>
        {% endif %}
    </div>
</header>
-->

{% if imageCover %}
    <img class="image-cover" src="{{ imageCover }}">
{% endif %}

<h1 z-field="page_title" class="title animate__animated animate__fadeIn">{{title}}</h1>
{% if pubDate or author %}
    <div self="size-large" layout="column top-stretch" style="padding-right: 12px;padding-left: 12px">
        {% if author -%}
            <strong>BY {{ author | upcase }}</strong>
        {%- endif -%}
        <small>{{ pubDate | date: 'D MMM yyyy' }}</small>
    </div>
{% endif %}

<main self="size-large center" class="main-content animate__animated animate__fadeIn" layout="column top-stretch">

    {{ content | safe }}

    {% include "./basic/page_navigation.liquid" %}

    {% include "./basic/page_related.liquid" %}

</main>

{% zx 'menu-overlay' 'actions-menu' %}
- [Close](closeContent()) close
- [Print](printContent()) print
- [Share](shareContent('https://github.com/zuixjs/zuix-html-pwa')) share
{% endzx %}

{% include "footer.liquid" %}

{% include "body_end.liquid" %}

</body>

<!-- page script -->
<script>
    {% include "layouts/basic/script.js" %}
</script>

{% include "html_close.html" %}
